<div class="sidebar" data-background-color="white" data-active-color="danger">

  <div class="sidebar-wrapper">

    <div class="logo">
      <a href="" class="simple-text">
        MSC
      </a>
    </div>

    <ul class="nav">
      <li>
        <a href="#/">
          <i class="ti-home"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <li>
        <a href="#/siswa">
          <i class="ti-face-smile"></i>
          <p>Kesiswaan</p>
        </a>
      </li>

      <li>
        <a href="#/pegawai">
          <i class="ti-user"></i>
          <p>Pegawai / Guru</p>
        </a>
      </li>

      <li>
        <a href="#/akademik">
          <i class="ti-medall"></i>
          <p>Akademik</p>
        </a>
      </li>

      <li>
        <a href="#/keuangan">
          <i class="ti-money"></i>
          <p>Keuangan</p>
        </a>
      </li>

    </ul>

  </div>

</div>
